# Python tools for Visual Studio
__pycache__/

*.pyc

# Python ML and artefacts
.conda/
.vscode/
data/
mlruns/
results/
outputs/
artefacts/
doctors-ai-venv

*.log

# mypy
.mypy_cache/

.dmypy.json
dmypy.json

# Testing
.pytest_cache/

pyvenv.cfg
Scripts/
Lib/
src/doctors_ai.egg-info/